<h2>@T["Welcome to Play CMS"]</h2>
<p>@T["Play CMS is powered by Orchard Core, and built to be a flexible platform for your needs."]</p>
<p>@T["Let's get started, shall we?"]</p>
<h3>@T["Getting Started"]</h3>
<p>@T["The menu on the left allows you to access the different sections of the CMS. Your pages live in the Content section, which you can browse to find and edit existing pages, while the New section allows you to create entirely new content."]</p>
<p>@T["If you're unsure what components and pages should look like, the Pattern Library is a repository of useful example features that your site has, presented in a static, visual way."]</p>
<p>@T["Take your content for a spin, and see what you can create!"]</p>
<h3>@T["Next Steps"]</h3>
<p>@T["The other sections of the menu relate to advanced features, such as configuration, themes, and powerful workflows for automating procedures, such as form submissions. Lots of users have no need to interact with these sections at all, but feel free to familiarise yourself with these capabilities if you'd like."]</p>
<h3>@T["Getting Help"]</h3>
<p>@T["If you have any questions about how to use the system, or how to accomplish your goals with Play CMS, "]<a href="mailto:playteam@etchuk.com">@T["get in touch"]</a>@T["."]</p>